.mainside{
  width: 25%;
  height: 97.5vh;
  /* border: 1px solid black; */
  /* color: black;   */
  background-color: #2C2F3A;
  padding-top: 20px;
}
.bucket{
    width:20vw;
    height: 10vh;
    border: 1px solid #FCC32C;
    border-radius: 5px;
    margin: auto;
    color: #FCC32C;
    margin-bottom: 10px;
    background-color:#2C2F3A ;

}
.bucket:hover {
        background-color: #FCC32C;
        color: #2C2F3A;
      }
